{%  extends  'base.html' %}

 

{% load static %}


{% block head %}	<title>About</title>
	{% endblock %}

	{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/home.css' %}" />		<div class="outer">


</br>
<div class="text"><h1>About<h2></br>
<p class="stuff">The Pinelands music school was established back in 2003 by Ms. Mika Williams. Before the school was established, Ms. Williams had been incredibly passionate about teaching people music in as many forms as she taught a total of 75 students over a 2-year period a number of musical skills; guitar, piano, cello, percussion as well as vocals, and she did so all by herself! Shortly after she realised that the demand was too great for her to handle alone, so in May of 2003, she started the Pinelands music school which, since then has taught 750 students a range of musical skills. As the staff grew, so did the repertoire of the school, the list of taught instruments included; harmonium, tabla, santur and the veena many among others!</p>
</br>
<p>The school is now celebrating its 15th year of operation, it boasts 7 teachers, a current student count of just under 80, each class only has 11 students, 4 classrooms on campus and a total of 100 instruments available for the students to rent to practise at home!</p>
</br>
<h1>Our Mission<h2></br>
<p>The mission of Pinelands music school is to provide the best musical education a person could through the following aspects; giving each student the possibility to get the attention they need to flourish in consistently small class sizes, offer a huge range of musical skills they can learn and empower the students to learn in their own time by allowing them to rent their chosen instrument.</p>
</div>
</div>

{% include "footer.html" %}

{% endblock %}
