{% extends 'base.html' %}

{% block body %}
<div class="outer"><div class="container">
	<h1> Teacher Register Form </h1>
	<form method="POST"> 
		{% csrf_token %}
		{{ user_form.as_p }}
		{% csrf_token %}
		{{ form_student.as_p }}
		<button type="submit">Register</button>		
	</form></div></div>

{% include "footer.html" %}{% endblock %}