 {% extends 'base.html' %}

 {% block body %}
 <div class="outer"><div class="container">
	 <h1> Enrol into Class </h1>

	<table style="width:100%">
	  <tr>
	    <th>Class Name</th>
	    <th>Instrument</th> 
	    <th>Class Level</th>
	    <th>Time</th>
	    <th>Teacher</th>
	    <th>Room</th>
	    <th>Register</th>
	  </tr><br>
	 	{% for class in classes %}
 
		  <tr>
		    <td>{{ class.class_name }}</td>
		    <td>{{ class.instrument_taught }}</td>
		    <td>{{ class.class_level }}</td>
		    <td>{{ class.class_time }}</td>
		    <td>{{ class.teacher }}</td>
		    <td>{{ class.class_room }}</td>
		    <td><form method="post">
				{% csrf_token %}
		    	<input type="hidden" name="musicClass" value="{{ class.id }}">
		    	<input type="submit" name="enrolBtn" value="Enrol">
		    </form></td>
		  </tr>

	 	{% endfor %}
 	 <table>


  	</p>
 
</div>
</div>
{% include "footer.html" %}
{% endblock %}