{%  extends  'base.html' %}

 

{% load static %}


{% block head %}	<title>Home Page</title>
	{% endblock %}

	{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/home.css' %}" />		<div class="outer"><div class="container1">
			<img src="{% static "accounts/biglogo.png" %}" alt="Logo" />		</div>


</br>
<div class="text"><h1>Student Testimonials<h2></br>
<p class="stuff">This school is really great. It helped me achieve my goals of leaning clarinet.</p>
<p class="studentname">--- Jack Phillips, student of 3 years</p>
</br>

<p class="stuff">I really enjoyed learning to play Guitar here. The teachers were really knowledgeable and helpful and made it easy!</p>
<p class="studentname">--- James Hendrix, Student of 1 year</p>
</br>

<p class="stuff">The teachers here are amazing! There are loads of options of instrument to choose from! I can't believe I was able to pick up the harmonium so quickly under the tutelage of Mr. Richards!</p>
<p class="studentname">--- Susan Storm, Student of 1 year</p>
</br>

<p class="stuff">I was a student of Mika William's from ages ago, she helped me really find my voice! I think she's the best - come and learn at her music school!</p>
<p class="studentname">--- John Barrowman, MBE, past student of Ms. Mika Williams</p>
</br>

</div>
</div>

{% include "footer.html" %}

{% endblock %}
