{%  extends  'base.html' %}

	{% block head %}
	<title>Home Page</title>
	{% endblock %}

	{% block body %}
	<div class="outer">	<div class="container">
            <h1>Successfully Logged Out!</h1>
            <h5>Don't forget to practice!</h5>

		</div>
</div>
{% include "footer.html" %}	{% endblock %}
