{%  extends  'base.html' %}

	{% block head %}
	<title>Profile page</title>
	{% endblock %}

	{% block body %}
	<div class="outer">	<div class="container">
			<h1>Profile</h1>
 			<div class="jumbotron">
				<p>Username: {{ user.username }} </p>
				<p>First Name: {{ user.first_name }} </p>
				<p>Last Name: {{ user.last_name }} </p>
				<p>Email: {{ user.email }} </p>
 			</div>
		</div></div>


{% include "footer.html" %}	{% endblock %}
