{% extends 'base.html' %}

{% block body %}
<div class="outer"><div class="container">
	<h1> Welcome New Teachers </h1>
	<p>Enter your details below to make an application and we will be in contact with you soon!</p>
	<form method="POST"> 
		<!-- Need csrf token and the sent user creation form in p tags -->
		{% csrf_token %}
		{{ form_student.as_p }}
		<button type="submit">Submit</button>		
	</form></div></div>

{% include "footer.html" %}{% endblock %}