{%  extends  'base.html' %}


{% load static %}{% block head %}	<title>Your Classes</title>
	{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />


<div class="outer"><div class="timeholder"><h1>Timetable</h1>
{% if dayList %}
<table style="width:100%">
<tr>
<th>Times</th>

    {% for day in nameList %}
        <th>{{day}}</th>
    {% endfor %}


</tr>
{% for time in timeList %}
	<tr>
	<td>{{time}}:00  </td>
	{% for day in dayList %}
		<td>
 			{% for class in classList %}
				{% if class.class_time == time %}
				{% if class.day == day %}  
					<p>
					Class: {{ class.class_name }} </br>
					Instrument: {{ class.instrument_taught }}</br>
					Room: {{ class.class_room }}
					
					

					</p>
				{% endif %}
				{% endif %}
			{% endfor %}

		</td>
	{% endfor %}
	</tr>

{% endfor %}

{% else %}
    <p>No timetable is available. Ya dun goof'd your database</p>
{% endif %}</div></div> 
<!-- {% include 'footer.html'%}{% endblock %} -->