/* Container 1 contains the logo*/
div.container1{width: 871px; margin: auto;background-color: #2e5ce8;}

/* The div class text contains the student reviews */
div.text {width:60%; margin :auto;border-style: solid;}
div.text h1{text-align: center;}
div.text p{font-size:70%;padding-left:5px;}

/* The following p classes relate to the reviews, and how different parts of those should be styled.*/
p.studentname {text-align: right;padding-right:90px}
p.review{padding-right:5px}


