/* Styling for the website in general. */

/* Styling for objects contained within site bodies 
Consistant names are to be used to ensure uniformality */

body {
	background-image: url("background.jpg");
	width: 100%;
}
<<<<<<< HEAD
.text {color:white;font-family: "Lucida Calligraphy",Time,Serif; padding:3rem;}
 button,input {color:black;}
div.outer{width: 80%; margin: auto;background-color: blue; min-height: 500px; color:black; padding: 10rem 3rem;}
=======
.container {color:#ffffff;font-family: "Lucida Calligraphy",Time,Serif}
.text {color:#ffffff;font-family: "Lucida Calligraphy",Time,Serif}
button,input {color:black;}
div.outer{width: 80%; margin: auto;background-color: #2e5ce8; min-height:850px; height:auto !important;}
>>>>>>> 52169efa5249c76ca3bd9b2c26801ce86683f399


/*timetable formatting*/
h1 {color:#ffffff}

table {
   	border-collapse: collapse;
	table-layout: fixed;
	color:#ffffff

}

table, th, td {
    border: 2px solid black;
}
td {
    padding: 5px;
    text-align: left;
}
div.timeholder{width:95%; margin :auto;}
div.timeholder {text-align: center;}

/* Styling for the site footer.*/
div.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
<<<<<<< HEAD
   height: auto;
   align-self: flex-end;
   margin-top: 19em;
  }

/* Profile page */
.jumbotron {
      min-height: 500px;
}
.profile-edit {
   margin-bottom: 5rem;
}
 h1, table {
  color: #fff;
}
.container h5 {
  color: #fff;
=======
   height: 50px
>>>>>>> 52169efa5249c76ca3bd9b2c26801ce86683f399
}