{% load static %}

<!DOCTYPE html>
<html>
	<head>
	<link rel="icon" href="{% static 'accounts/favicon.png' %}">	

<link rel="stylesheet" type="text/css" href="{% static 'timetable/base.css' %}" /><link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">



		{% block head %}
		<title></title>
		{% endblock %}
	</head>
<body>
<nav class="navbar navbar-inverse bs-dark navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">School</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	
	
      {% if user.is_authenticated  %}
        <ul class="nav navbar-nav">
           <li><a href="{% url 'home' %}">Home</a></li>
     <li><a href="{% url 'timetable' %}">Timetable</a></li>
	 {% if user.teacher_profile.is_teacher or user.student_profile.is_student %}
	 <li><a href="{% url 'myClasses' %}">My Classes</a></li>
	 {% endif %}
	 <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'view_profile' %}">Profile</a></li>
        <li><a href="{% url 'studentEnrol' %}">Enrol</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
		
		{% if user.is_superuser %}
		<li><a href="{% url 'createteacher' %}">Create Teacher Account</a></li>
		{% endif %}
           <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
          <li><a href="/logout/">Logout</a></li>

        </ul>

      {% else %}
        <ul class="nav navbar-nav">
           <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'timetable' %}">Timetable</a></li><li><a href="{% url 'about' %}">About</a></li></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'registerStudent' %}">Student Enrollment</a></li>
          <li><a href="{% url 'teacherApplication' %}">New Teachers</a></li>
          <li><a href="{% url 'login_redirect' %}">Login</a></li>
        </ul>

      {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	{% block body %}




	{% endblock %}

   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <script type="text/ja vascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">

</body>
</html>