
<div class="footer"><br/>
	<p> 
		Please vist our Social Media: 
		<a href="https://www.facebook.com">Facebook</a>  |  
		<a href="https://www.instagram.com">Instagram</a>  |  
		<a href="https://www.twitter.com">Twitter</a>  |  
		Phone Number: (07) 38384444  |  Email: Mika@mikaschool.com
	</p>
</div>


